<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apnagodam.staff">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <application
        android:name="ApnaGodamApp"
        android:allowBackup="true"
        android:icon="@mipmap/user_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/user_logo"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OtpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StaffDashBoardActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BrowserPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StaffProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.lead.LeadGenerateClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.caseid.CaseIDGenerateClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.lead.LeadListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.caseid.CaseListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.pricing.InPricingListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.pricing.SetPricingClass"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.truckbook.TruckBookListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.truckbook.TruckUploadDetailsClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.labourbook.LabourBookListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.labourbook.LabourBookUploadClass"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.first_kantaparchi.FirstkanthaParchiListingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.first_kantaparchi.UploadFirstkantaParchiClass"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.secound_kanthaparchi.SecoundkanthaParchiListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.secound_kanthaparchi.UploadSecoundkantaParchiClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.first_quality_reports.FirstQualityReportListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.secound_quality_reports.SecoundQualityReportListingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.first_quality_reports.UploadFirstQualtityReportsClass"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.secound_quality_reports.UploadSecoundQualtityReportsClass"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.in.gatepass.GatePassListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.in.gatepass.UploadGatePassClass"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".reciever.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>